@{
    ViewData["Title"] = "Home";
}

<h2>Cadastros</h2>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <a asp-controller="Pessoas" asp-action="Index" class="btn btn-primary">Pessoas</a>
        </div>
        <div class="form-group">
            <a asp-controller="Bancos" asp-action="Index" class="btn btn-primary">Bancos</a>
        </div>
        <div class="form-group">
            <a asp-controller="Agencias" asp-action="Index" class="btn btn-primary">Agências</a>
        </div>
        <div class="form-group">
            <a asp-controller="Empresas" asp-action="Index" class="btn btn-primary">Empresas</a>
        </div>
        <div class="form-group">
            <a asp-controller="Filiais" asp-action="Index" class="btn btn-primary">Filiais</a>
        </div>
        <div class="form-group">
            <a asp-controller="Usuarios" asp-action="Index" class="btn btn-primary">Usuarios</a>
        </div>
        <div class="form-group">
            <a asp-controller="ContasCorrentes" asp-action="Index" class="btn btn-primary">Contas Correntes</a>
        </div>
        <div class="form-group">
            <a asp-controller="PostosDeCaixa" asp-action="Index" class="btn btn-primary">Postos de Caixa</a>
        </div>
    </div>
</div>

