@model MovimentoBancarioViewModel

@{
    ViewData["Title"] = "Depósito";
}


<div class="mov">
    <div class=" rounded font font-weight-bold filho">
             <h2 class="font font-weight-bold text-center m-1">Depósito</h2>
        <h4 class="text-center m-2">Saldo: R$@Model.ContaCorrente.Saldo</h4>
        <form action="ConfirmarMovimento" method="post">
            <input type="hidden" value="@Model.ContaCorrente.Id" name="ContaCorrenteId" />
            <input type="hidden" value="deposito" name="tipo" />
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group inputs">
                    <label asp-for="Valor" class="control-label">Valor de Depósito (R$):</label>
                    <input asp-for="Valor" name="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="MovimentoBancario.Cheque" class="control-label">Opção de Saque:</label>
                    <br />
                    <input type="radio" id="cheque" name="cheque" value="true" asp-for="MovimentoBancario.Cheque" />
                    <label for="cheque" style="cursor:pointer;">Cheque</label>
                    <br />
                    <input type="radio" id="dinheiro" name="cheque" value="false" asp-for="MovimentoBancario.Cheque" />
                    <label for="dinheiro" style="cursor:pointer;">Dinheiro</label>
                    <span asp-validation-for="MovimentoBancario.Cheque" class="text-danger"></span>
                </div>
                <div class="form-group text-center m-2">
                    <input type="submit" value="Confirmar" class="btn btn-primary rounded-pill m-2" />
                </div>
            </div>
        </form>
        <div class="btns">
            <a asp-action="TipoDeMovimento" asp-route-contacorrenteid="@Model.ContaCorrente.Id" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar</a>
        </div>  
    </div>
</div>

