@model FilialViewModel

@{
    ViewData["Title"] = "Adicionar Filial";
}

<div class="pai-filial">
    <div class="filho">

        <div class="col-md-10 cor offset-1   p-4 alert-secondary  rounded">
            <h4 class="font font-weight-bold m-2 text-center">Nova Filial</h4>
            <hr />
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label font font-weight-bold">Empresa</label>
                    @Html.DropDownListFor(m => m.SelectedEmpresaId, Model.Empresas, new { @class = "form-control" })
                    <a class="btn-xs ml-2 text-decoration-none" asp-controller="Empresas" asp-action="Create">Criar Nova Empresa</a>
                </div>
                <div class="form-group">
                    <label class="control-label font font-weight-bold">Pessoa Jurídica</label>
                    @Html.DropDownListFor(m => m.SelectedPessoaJuridicaId, Model.PessoasJuridicas, new { @class = "form-control" })
                    <div>*Apenas uma agência ou filial por pessoa jurídica</div>
                    <a class="btn-xs ml-2 text-decoration-none" asp-controller="Pessoas" asp-action="CreatePJ">Criar Nova Pessoa Jurídica</a>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroRegistroNaJuntaComercial" class="control-label font font-weight-bold"></label>
                    <input asp-for="NumeroRegistroNaJuntaComercial" value="" class="form-control" />
                    <span asp-validation-for="NumeroRegistroNaJuntaComercial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox font font-weight-bold">
                        <label for="ativo" style="cursor:pointer; transition:all .3s ease-in-out;" id="lab"><i class="material-icons float-left text-success">check</i> Ativada</label>
                        <input id=ativo asp-for="Ativo" checked hidden />
                    </div>
                </div>
                <div class="form-group text-center m-2">
                    <input type="submit" value="Criar" class="btn btn-primary rounded-pill m-1" />
                </div>
            </form>
            <div class="text-center btns">
                <a asp-action="Index" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar Para Lista</a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ativo").change(function () {
                var checado = $(this).is(":checked");
                if (!checado) {
                    $("#lab").html(" <label for='ativo'style='cursor:pointer;transition:all 1s ease-in-out;' id='lab'><i class='material-icons  float-left text-danger'>close</i>Desativada</label>");
                }
                else {
                    $("#lab").html(" <label for='ativo' style='cursor:pointer;transition:all 1s ease-in-out;' id='lab'><i class='material-icons  float-left text-success '>check</i>Ativada</label>");
                }
            });
        });
    </script>
}

